.index_conainer {
  height: 100vh;

  .tab_view {
    // padding-top: 6vh;
    height: 72vh;
  }

  .adconainer {
    padding-top: 7vh;
  }

  .at-tabs__item {
    overflow: visible;
  }

  .at-tabs-pane--active {
    height: 85vh;
  }
}
