.search_conainer {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  overflow-x: scroll;
  white-space: nowrap;

  .adconainer {
    margin-top: 20rpx;
  }

  .box_view {
    margin-top: 10rpx;
  }
}
